<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta itemprop="name" content="Bladerunner">
    <meta name="description" content="Merlin global, app for agent/agencies" >
    <meta name="keywords" content="bladerunner, merlin recruitment, merlin global" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="content"></div>
  </body>
</html>
